@mixin justify-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

@mixin text-as-link{
    text-decoration: none;
    color: $white;
}