@charset "UTF-8";
body {
  font: 19px/23px Montserrat, sans-serif;
}

main {
  margin: 30px;
}

header .header-website {
  height: 75px;
  margin-bottom: 15px;
}

.liste-competences {
  margin-top: 5rem;
}

picture.emoji-gif img {
  width: 1em;
  height: 1em;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #171c28;
  color: #ffffff;
  margin: 0 30px;
}

.section-display {
  display: flex;
  margin-bottom: 10rem;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .section-display.right-text-content {
    flex-direction: row-reverse;
  }
  .section-display.right-text-content .illustration {
    padding-right: 5rem;
  }
  .section-display.left-text-content {
    flex-direction: row;
  }
  .section-display.left-text-content .illustration {
    padding-left: 5rem;
  }
}
.section-display .text-content {
  flex: 1;
}
.section-display .text-content h1 {
  font-size: 30px;
  line-height: normal;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .section-display .text-content h1 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 700;
  }
}
.section-display .text-content p {
  font-size: 20px;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .section-display .text-content p {
    font-size: 30px;
    line-height: 40px;
  }
}
.section-display .illustration {
  flex: 1;
  margin-top: 50px;
}
.section-display .illustration img {
  max-width: 70%;
  display: block;
  margin: auto;
}

.competences-icones {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 3rem;
  font-size: 2rem;
  color: #868e96;
}
.competences-icones i i {
  transition: all 0.3s ease;
}
.competences-icones i:hover {
  cursor: pointer;
  color: #aaa5ff;
  transform: scale(1.2);
}
@media screen and (min-width: 768px) {
  .competences-icones {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 6rem;
    font-size: 3rem;
    color: #868e96;
  }
  .competences-icones i i {
    transition: all 0.3s ease;
  }
  .competences-icones i:hover {
    cursor: pointer;
    color: #aaa5ff;
    transform: scale(1.2);
  }
}

.btn {
  padding: 15px 30px;
  font-weight: bold;
  font-size: 18px;
  border: solid 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease 0.3s;
}
.btn:hover {
  transform: translateY(-10px);
}
.btn.btn-primary {
  background-color: #55198b;
  border-color: #200935;
  color: #ffffff;
}
.btn.btn-primary:hover {
  background-color: #ffffff;
  color: #55198b;
}
.btn.btn-secondary {
  background-color: #aaa5ff;
  border-color: #4a3fff;
  color: #ffffff;
}
.btn.btn-secondary:hover {
  background-color: #ffffff;
  color: #55198b;
}

.animate-fusée {
  transition: all 1s ease;
  display: inline-block;
}
.animate-fusée:hover {
  animation: movefusee 2s ease;
}

@keyframes movefusee {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translate(-2px, 2px);
  }
  20% {
    transform: translate(2px, -2px);
  }
  30% {
    transform: translate(-1px, 1px);
  }
  72% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(-550px);
  }
}/*# sourceMappingURL=main.css.map */