@import "variables";

html {
    scroll-behavior: smooth;
}

body {
    background-color: $dark;
    color: $white;
    margin: 0 20px;

    @media screen and (min-width: 768px) {
        margin: 0 30px;
    }
}
