@function darkenborder($color) {
    @return darken($color, 20%)
}



.btn {
    padding: 15px 30px;
    font-weight: bold;
    font-size: 18px;
    border: solid 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.3s;

    &:hover {
        transform: translateY(-10px);
    }

    &.btn-primary {
        background-color: $primary;
        border-color: darkenborder($primary);
        color: $white;
        &:hover {
            background-color: $white;
            color: $primary;
        }
    }

    &.btn-secondary {
        background-color: $secondary;
        border-color: darkenborder($secondary);
        color: $white;
        &:hover {
            background-color: $white;
            color: $primary;
        }
    }

    //@each $name, $color in color {
    //&.btn-#{name} {
    //background-color: color ;
    //border-color:darkenborder($secondary);
    //color: $dark;
    //&:hover {
    //background-color: $white;
    //color: $primary;//

//code qui permet de géneré des button avec les mémes propriéters que celui du dessus //
//il ce sert d'un tableau dans les variables qui les appel directement en les mentionnant//
//direct dans le méme code en changeant les "name" par le nom de la variable de la couleur DANS LE HTML//
//a regarder dans le tableau des variables//
}