.section-display {
    display: flex;
    

    .text-content {
        flex: 1;
        h1 {
            font-size: 70px;
            line-height: 1.1;
            font-weight: 700;
            /*font-size: 28px; responsive*/
        }
        p {
            font-size: 30px;
            line-height: 40px;
        }
    }

    .illustration {
        flex:1;
        img {
            max-width: 70%;
            display: block;
            margin: auto;
        }
    }

}