
main {
    @media screen and (min-width: 768px) {
        margin: 0 30px
    }
}


header .header-website {
    height: 75px;
    margin-bottom: 15px;
}

.liste-competences {
    margin-top: 5rem;
}

picture.emoji-gif {
    img {
        width: 1em;
        height: 1em;
    }
}

.header-website {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;

        .nav-link {
            display: none;
        }
    }
}