@import "variables";
@import "Mixins/mixins";

main {
    @media screen and (min-width: 768px) {
        margin: 0 30px
    }
}


header .header-website {
    height: 75px;
    margin-bottom: 15px;
}

.liste-competences {
    margin-top: 5rem;
}

picture.emoji-gif {
    img {
        width: 1em;
        height: 1em;
    }
}

.header-website {
    position: sticky;
    top: 0;
    left: 0;
    background-color: $dark;
    height: 120px;
    @media screen and (min-width: 768px) {
        height: 200px;
    }
    .navbar {
        @include justify-between;
        /*display: flex;
        justify-content: space-between;
        align-items: center;*/
        
        @media screen and (min-width: 768px){
            height: 200px;
        }
    }

    .menu { 
        .menu-input { 
            display: none;
            &:checked ~ .dropdown-menu { 
                display: block;
                max-height: 100vh;
            }
        }
        @media screen and (min-width: 768px) {
            .menu-input-label {
                display: none;
            }   
        }
        
        .dropdown-menu {
                transition: max-height ease 0.5s;
                max-height: 0px;
                overflow: hidden;
                display: none;
                position: absolute;
                left: 0;
                width: 100%;
                background-color: $dark;
                top: 100%;
                @media screen and (min-width: 768px) {
                    max-height: 100vh;
                    position: relative;
                    display: flex;
                        .nav-links {
                            display: flex;
                            justify-content: space-between;
                            padding: 15px;
                        }
                }
                    .nav-links {  
                        padding: 15px;
                        .nav-link {
                            padding: 30px;
                            a {
                            color: $white;
                            text-decoration: none;
                            }
                        }
                    }
        }
    }
    ul {
        list-style-type: none;
    }

    .logo {
        max-width: 40%;
        @media screen and (min-width: 768px) {
            max-width: 20%;
        }
        img {
            max-width: 100%;
            @media screen and (min-width: 768px) {
                max-width: 90%;
            }
        }     
    }
    
}                      

#gototop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: block;
    background-color: $primary;
    border-radius: 5px;
    color: $white;
    text-decoration: none;
    padding: 5px;
    z-index: 500;
}