@import "variables";

body {
    font-family: "Inter", "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 1.7;
    color: $white;
    -webkit-font-smoothing: antialiased;
}

body[data-theme="light"] {
    color: $dark;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    li,
    a,
    span {
        color: rgba($dark, 0.92);
    }
}
