$primary : #55198b; /*couleur primaire, bouton, touche actions...*/
$secondary : #868e96; /*couleur secondaire, petit liens, logo secondaire*/
$dark: #171c28; /* couleur du background général*/
$white: #ffffff; /*Blanc général*/
$purple: #aaa5ff; /*Violet leger pour animation*/
$lightgray: #f3efef; /*Gris leger*/